<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table, td, th {
      border: 1px solid #ddd;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 50%;

    }
    .table-data{
        position: relative;
      left:150px;
      top:100px;
    }
    th, td {
      padding: 15px;
    }
    </style>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Test</th>
            <th>Score</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.name %></td>
            <td><%=data.age %></td>
            <td><%=data.sex %></td>
            <td><%=data.test %></td>
            <td><%=data.score %></td>

            <td><a href="/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/user/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>
